
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
@Html.ActionLink("Create New Book Details", "Create")
<table class="table">
    <tr> <th>Book Id</th><th>Book Name</th><th>Book Author</th><th>Category</th><th>Price</th><th>Action</th></tr>
    @foreach (BookShoppingPortal.Entitity.Book book in @Model)
    {
  <tr>  <td>@book.BookId</td>
    <td>@book.BookName</td>
    <td>@book.BookAuthor</td>
    <td>@book.Category</td>
    <td>@book.Price</td>
    <td>
        @Html.ActionLink("Edit / ", "Edit", new { id = book.BookId })
        @Html.ActionLink("Delete", "Delete", new { id = book.BookId })
    </td></tr>
    }

</table>
